/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
	position: relative;
}

.body-container {
	max-width: 1140px;
	margin:auto;
	margin-bottom: 60px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	
	width: 100%;
	height: 60px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.footer {
	position: fixed;
	bottom: 0;
}

footer nav {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin-right: 100px ;

	
}

/* Filter buttons*/
#filters {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	margin-bottom: 50px;
}

.filter-button {
	width: auto;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 20px 10px 20px;
	border: 1px solid #1D6154;
	color: #1D6154;
	border-radius: 60px;
}

.active {
	background-color: #1D6154;
	color: #FFFEF8;
}

/* Page de connection */

.form-wrapper {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	text-align: center;
}

.form-wrapper form {
	font-family: 'work sans', sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-align: left;
	max-width: 380px;
	display: flex;
	flex-direction: column;
}

#userEmail, #pwd {
	width: 379px;
	height: 50px;
	border: 1px solid transparent;
	box-shadow: 0px 4px 14px 0px #00000017;

}

#subButton {
	padding: 10px 20px 10px 20px;
	border: 1px solid transparent;
}

/* Mode Edition */

#edition {
	background-color: black;
	color: #FFFEF8;
	padding: 20px;
	display: none;
	justify-content: center;
	
}

#logout {
	display: none;
}
#portfolio {
	position: relative;
}
#edit {
	display: none;
	column-gap: 10px;
	position: absolute;
	top: 10px;
	left: 60%;
}

#edit:hover {
	cursor: pointer;
}

.popup-background {
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	display: none;
}

.popup-container {

	position: absolute;
	z-index: 10;
	left: 405px;
	top: 660px;
	
}
.popup {
	position: relative;
	display: none;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 630px;
	height: 688px;
	border: 1px solid transparent;
	border-radius: 16px;
	
}

.popup-title {
	font-size: 26px;
	font-weight: 400;
	margin: 50px 0px;
}

.add-photo {
	background-color: #1D6154;
	color: #FFFEF8;
	padding: 10px 60px;
	border-radius: 20px;
}
.add-photo:hover {
	cursor: pointer;
}

.close {
	position: absolute;
	right: 30px;
	top: 30px;
}
.close:hover {
	cursor: pointer;
}

.line {
	height: 1px;
	width: 420px;
	background-color: #B3B3B3;
	margin: 40px 0px;
}

.mini-gallery {
	height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 0px;
	padding: 0px 80px 0px 105px;
	
}

.mini-gallery figure {
	height: 102px;
}

.mini-gallery img {
	height: 102px;
	width: 76px;
	margin-bottom: 0px;
}

.minipic {
	position: relative;
	display: flex;
	z-index: 11;
}

.minipic::after {
	content: "\f2ed"; /* Wrong bin yet same code?*/
	font-family: "Font Awesome 5 Free";
	position: absolute;
	z-index: 12;
	top: 5px;
	right: 5px;
	color: white;
	background-color: black;
	font-size: 13px;
	padding: 3px;
	border-radius: 3px;
}

.minipic:hover::after{
	cursor: pointer;
}


/* Mode Ajout de travaux */

.pop2 {
	
	display: none;
	z-index: 15;
}

.worksForm {
	display: flex;
	flex-direction: column;
}

.back-arrow {
	position: absolute;
	left: 30px;
	top: 30px;
}
.back-arrow:hover {
	cursor: pointer;
}


/* Modify Form*/
input[type=file] {
	display: none;
}

.photoLabel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5px;
	background-color: #E8F1F6;
	width: 420px;
	height: 169px;
}

.photoLogo {
	font-size: 76px;
	color: #B9C5CC;
}

.addPhoto {
	font-size: 14px;
	padding: 10px 20px 10px 10px;
	background-color: rgb(203, 214, 220);
	color: #306685;
	border-radius: 17px;
}

.photoType {
	font-size: 10px;
	color: #444444;
}

.addWork {
	background-color: rgb(167, 167, 167);
	margin: auto;
}

.button-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}